#vtopHeader {
    position: fixed !important;
    top: 8px !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    width: 98vw !important;
    max-width: 1800px;
    z-index: 9999 !important;
    background: #2c80bc !important;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.18) !important;
    border-radius: 18px !important;
    border: 1.5px solid rgba(255, 255, 255, 0.18) !important;
    transition: box-shadow 0.2s, background 0.2s !important;
}

body {
    padding-top: 66px !important;
}